:root {
    --primary-color: #77a6d9;
    --dark-color: #2b3761;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --orange: #FFA500;
    --ligh-blue: #4B89D1;
    --red: #ff002b;
}

*{
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}

.h2{
    font-style:normal;
}

    .container > h1 {
        padding: 20px 0;
    }

.cart {
    display: flex;
}

.products {
    flex: 0.75;
}

.product {
    display: flex;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
    padding:4px;
}

    .product:hover {
        border: none;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        transform: scale(1.01);
    }

    .product > img {
        width: 150px;
        height: 200px;
        position:center;
        object-fit: cover;
    }

        .product > img:hover {
            transform: scale(1.04);
        }

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-name, .product-price, .product-offer {
    margin-bottom: 20px;
}

.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: var(--orange);
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    font-size:13px;
}

    .product-remove:hover {
        background-color: white;
        color: var(--orange);
        font-weight: 600;
        border: 1px solid var(--orange);
    }

/*.product-quantity h3> input {
    width: 40px;
    padding: 5px;
    text-align: center;
    border: 5px solid black;
    border: 1px solid black;
    padding: 3px;
    max-width: 3rem;
    background:yellow;
}*/

.fa {
    margin-right: 5px;
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 20rem;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 13px;
}

    .cart-total p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-size: 20px;
    }

    .cart-total a {
        display: block;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: var(--primary-color);
        color: white;
        text-decoration: none;
        border-radius:.5rem;
    }

        .cart-total a:hover {
            background-color: var(--dark-color);
        }

@media screen and (max-width: 700px) {

    .remove {
        display: none;
    }

    .product {
        height: 150px;
    }

        .product > img {
            height: 150px;
            width: 200px;
        }

    .product-name, .product-price, .product-offer {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {

    .cart {
        flex-direction: column;
    }

    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1220px) {

    .container {
        max-width: 95%;
    }
}
